.header-container {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navar {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
    align-items: center;
    /* Alinea verticalmente los elementos de navegación */
}

.boton {
    background-color: rgba(161, 193, 70, 1);
    color: white;
    padding: 10px 20px;
    border-width: 1px;
    border-color: #333;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}

.boton:hover {
    background-color: rgba(0, 100, 0, 1);
}

.boton a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-family: 'Lemon', sans-serif;
    /* Aplica la fuente Lemon */
}

.logo {
    max-width: 100px;
}
