body {
    background-color: rgba(248, 247, 241, 1);
}

.header-container {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navar {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
    align-items: center;
}

.boton {
    background-color: rgba(161, 193, 70, 1);
    color: white;
    padding: 10px 20px;
    border-width: 1px;
    border-color: #333;
    border-radius: 5px;
    cursor: pointer;
    list-style: none;
}

.boton:hover {
    background-color: rgba(0, 100, 0, 1);
}

.navar a {
    text-decoration: none !important;
    color: #fff !important;
    font-size: 25px;
    font-family: 'Lemon', sans-serif;
}


.logo {
    max-width: 100px;
}

footer {
    background-color: #333;
    color: #fff;
    height: 100px;
    width: 100%;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
}


/*Aqui ira el contenido de la pagina */
.contact{
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: rgba(250, 238, 169, 1); 
    padding-left: 30px; 
}

.contact input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #333; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    font-size: 20px;
    font-family: 'Lao Sans Pro', sans-serif;}

.contact textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #333; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
    font-size: 20px;
    font-family: 'Lao Sans Pro', sans-serif;
}

.contact h1{
    font-size: 20px;
    margin-top: 10px !important;
    font-family: 'Alfa Slab One', cursive !important;
    text-align: center;
}

.contact .terminos {
    width: auto; 
    height: auto; 
    margin-right: 10px; 
    transform: scale(1.2); 
    vertical-align: middle; 
}

.boton-enviar{
    background-color: rgba(161, 193, 70, 1);
    color: white;
    padding: 10px 20px;
    border-width: 1px;
    border-color: #333;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    text-align: center;
    width: 200px;
    margin-left: 100px;
    color: #fff !important;
    font-size: 20px;
    font-family: 'Lemon', sans-serif;

}

.boton-enviar:hover{
    background-color: rgba(0, 100, 0, 1);
}

.image {
    max-width: 30%;
    height: auto;
    padding-bottom: 20px;
    margin-left: 135px;
}

/* Estilo para dispositivos móviles */
@media screen and (max-width: 768px) {
    .navar {
        display: none;
    }

    .menu-button {
        display: block;
        font-size: 32px;
        padding: 15px 20px;
    }

    .mobile-menu {
        list-style: none;
        background-color: #333;
        color: #fff;
        position: absolute;
        top: 115px;
        right: 0;
        text-align: center;
        display: none;
        padding: 0;
    }

    .mobile-menu li {
        padding: 0;
        margin: 0;
    }

    .mobile-menu li a {
        display: block;
        padding: 15px 20px;
        text-decoration: none;
        color: white;
        font-size: 25px;
        font-family: 'Lemon', sans-serif;
    }

    .mobile-menu li a:hover {
        background-color: rgba(0, 100, 0, 1);
    }

    /* Estilo para el botón del menú desplegable */
    #mobile-menu-button {
        cursor: pointer;
    }

    .contact {
        width: 90%;
        margin: 40px auto;
        padding: 10px;
        text-align: center; 
    }

    .contact input {
        width: 100%; 
        font-size: 16px; 
    }

    .contact textarea {
        width: 100%; 
        font-size: 16px; 
    }

    .contact h1 {
        font-size: 18px; 
    }

    .boton-enviar {
        width: 100%; 
        margin-left: 0; 
    }

    .image {
        max-width: 50%;
        margin: 0 auto !important ; 
        padding-bottom: 10px; 
    }
   
    
}

/* Estilo para pantallas más grandes */
@media screen and (min-width: 769px) {
    .menu-button {
        display: none;
    }

    .mobile-menu {
        display: none;
    }
}