body {
    background-color: rgba(248, 247, 241, 1);
}

.header-container {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navar {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
    align-items: center;
}

.boton {
    background-color: rgba(161, 193, 70, 1);
    color: white;
    padding: 10px 20px;
    border-width: 1px;
    border-color: #333;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}

.boton:hover {
    background-color: rgba(0, 100, 0, 1);
}

.boton a {
    text-decoration: none !important;
    list-style: none;
    color: #fff !important;
    font-size: 25px;
    font-family: 'Lemon', sans-serif;
}


.logo {
    max-width: 100px;
}

footer {
    background-color: #333;
    color: #fff;
    height: 100px;
    width: 100%;
    text-align: center;
    padding: 10px;
    position: relative;
    /* Que sea en la parte de*/
    bottom: 0;
}


/*Aqui ira el contenido de la pagina */
.center-content {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    padding-top: 45px;
    flex-direction: row;
    margin-bottom: 20px;
}


.right-content h1 {
    font-size: 40px;
    font-family: 'Lemon', sans-serif;/* Aplica la fuente Lemon */
    background-color: #333;
    width: 791px;
    height: 149px;
    color: #fff;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 0;
}

.right-content p {
    font-size: 18px;
    font-family: 'Lao Sans Pro', sans-serif;
    background-color: rgba(217, 217, 217, 1);
    width: 791px;
    height: 149px;
    color: #333;
    text-align: left;
    margin-top: 0px;
    padding-top: 5px;
    padding-left: 5px;
}

.left-content img {
    width: 274px;
    height: 293px ;
}

.container-trabajo {
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.trabajos {
    width: 30%;
    padding: 10px;
    background-color: rgba(250, 238, 169, 1);
    border-radius: 10px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
}

.image {
    max-width: 100%;
    height: auto;
}

.trabajos h1 {
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
}

.lista {
    padding: 15px;
    text-align: left; /* Alinea el texto de la lista a la izquierda */
}

.lista li {
    margin: 5px 0;
    font-family: 'Lao Sans Pro', sans-serif;
    font-size: 15px;
}

/* Estilo para dispositivos móviles */
@media screen and (max-width: 768px) {
    .navar {
        display: none;
    }

    .menu-button {
        display: block;
        font-size: 32px;
        padding: 15px 20px;
    }

    .mobile-menu {
        list-style: none;
        background-color: #333;
        color: #fff;
        position: absolute;
        top: 115px;
        right: 0;
        text-align: center;
        display: none;
        padding: 0;

    }

    .mobile-menu li {
        padding: 0;
        margin: 0;
    }

    .mobile-menu li a {
        display: block;
        padding: 15px 20px;
        text-decoration: none;
        color: white;
        font-size: 25px;
        font-family: 'Lemon', sans-serif;
    }

    .mobile-menu li a:hover {
        background-color: rgba(0, 100, 0, 1);
    }

    /* Estilo para el botón del menú desplegable */
    #mobile-menu-button {
        cursor: pointer;
    }

    .center-content {
        flex-direction: column;
        text-align: center;
        margin-left: 0;
        padding-top: 20px;
    }

    .right-content h1 {
        font-size: 24px;
        width: auto;
        height: auto;
        padding: 10px;
    }

    .right-content p {
        font-size: 16px;
        width: auto;
        height: auto;
        text-align: center;
    }

    .left-content img {
        width: 50%;
        height: auto;
        margin-bottom: 10px;
    }

    .container-trabajo {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        /* Agrega flex-wrap para permitir que los elementos se envuelvan en dispositivos móviles */
        margin: 20px;
    }

    .trabajos {
        width: 80%;
        /* Establece el ancho al 100% para que ocupen todo el ancho disponible */
        padding: 10px;
        background-color: rgba(250, 238, 169, 1);
        border-radius: 10px;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
        text-align: center;
        margin-bottom: 20px;
    }

    footer {
        bottom: 0;
    }
}

/* Estilo para pantallas más grandes */
@media screen and (min-width: 769px) {
    .menu-button {
        display: none;
        /* Oculta el botón de menú en pantallas más grandes */
    }

    .mobile-menu {
        display: none;
        /* Muestra la barra de navegación en pantallas más grandes */
    }
}